<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field> <!--Vai pegar o input e colocar dentro do produto, que é meu objeto-->
            <input matInput placeholder="Nome"
                    [(ngModel)]="produto.name" 
                    name="nome">
        </mat-form-field>
        <!--  Usando o Two-way data binding [(ngModel)] para alterar o nome do produto no component. 
            Então no meu component eu tenho uma atributo dentro de Product chamado name.
            Os dados que são digitados aqui, serão passados para o backend.
        -->

        <!-- matInput não é um diretiva estrutural, vai apenas mexer no estilo -->

        <mat-form-field>
            <input matInput placeholder="Preço (R$)"
                    [(ngModel)]="produto.price"
                    name="preco">
        </mat-form-field>

    </form>

    <button mat-raised-button (click)="createProduct()" class="mybutton-salvar">Salvar</button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
