<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem-vindo!
    </mat-card-title>
    
    <mat-card-subtitle class="subtitle">
        Sistema para exemplificar a construção de um cadatro de produtos em Angular.
    </mat-card-subtitle>

    <ul>
        <!-- Vai chamar o construtor do meuFor-->
        <!-- <li *meuFor="let n em [1, 2, 3] usando 'teste'"></li> -->
        <!-- <li *meuFor="let n em [1, 2, 3]">{{ n }}</li> -->
        <!-- Existe um valor implícito asociado a n (tem que ser igual ao da diretiva *meuFor) dentro desse contexto -->
    </ul>

</mat-card>