<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="produto.name" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="produto.price" name="preco">
        </mat-form-field>

    </form>

    <button mat-raised-button (click)="updateProduct()" class="mybutton-salvar">Atualizar</button>

    <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>