<!-- Biing de atributo [id]. Vai substituir o id pela varíavel definida no componente-->
<!-- <p [id]="atributoLegal">product-crud works!</p> -->

<!-- Eventbiding: Faz a ligação do (click) com o método que está definido dento do componente -->
<!-- <button (click)="fazerAlgo()">Fazer algo!</button> -->


<button mat-raised-button (click)="navigateToProductCreate()" class="mybutton-salvar" >
    Novo produto
</button>

<!-- Referenciar o componente da tabela -->
<app-product-read></app-product-read>
<!-- <app-product-read2></app-product-read2> -->